body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Add this to your GLOBAL css file (e.g., index.css) */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* This stops the left-right scroll globally */
  position: relative;
}
.section-offset {
  padding-top: 50px; /* SAME as navbar height */
}
